@purple: #551872;
@purpleHover: #702991;
.customInput{
    width: 100%;
    margin: 7px 0;
    border: none;
    color: #bfbfbf;
    padding: .625rem;
    border:#bfbfbf solid 1px;
    border-radius: .375rem;
    height: 40px;
    transition: linear 1s;
}

.customInput:hover{
    border-color: @purple;
}
//modal styling
.customRadio{
    margin:5px;
}

.ant-modal-title{
    color: @purple;
}
.ant-btn:nth-child(1){
    background-color: white;
    border:#bfbfbf solid 1px;
    color: @purple;
}
.ant-btn:nth-child(1):hover{
    border-color: @purple;
}

.ant-btn:nth-child(2){
    background-color: @purple;
    border-color: @purple;
}
.ant-btn:nth-child(2):hover{
    background-color: @purpleHover;
    border-color: @purpleHover;
}

//add form
#addForm{
    padding: 20px;
    border:#bfbfbf solid 1px;
    box-shadow: 0 0 6px 1px @purple;
    transition: linear 1s;
}
.addButton{
    transition: linear 1s;
    border: none;
    cursor: pointer;
    margin: 10px 25%;
    width: 50%;
    border-radius: .375rem;
    height: 40px;
    color: white;
    background:transparent linear-gradient(91deg,#4f2b79,#9c0067) 0 0 no-repeat padding-box;
}